// mobile table
.table{
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;

}
// mobile table-body
.table__body{
    background-color: rgba(0, 0, 0, 0.03);
    
}

//desktop table-body
@media (min-width: 1440px){
    .table__body{
        background: transparent;
    }
}



